*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url('../includes/bg.jpg');
    background-repeat:repeat;
    background-size: cover;
    background-position: center;
} 
#hero-section{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit , minmax(500px , 1fr));
    position: relative;
}
#orders , #outer-container{
    width: 50%;
    height: 100%;
}
#outer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:2px solid rgb(0, 0, 0);
}
#orders{
    border-left:2px solid rgb(0, 0, 0);
    
}
#product-desc{
    height: 50px;
    margin: 0px 30px;
    width: 80%;
}
#msg{
    width:80%;
    height: 20px;
    text-align: center;
    display: none;
    margin:0 50%;
    font-size: 1.3rem;
} 
#orders {
    max-width: 1000px;
    margin: 40px auto;
    /* background-color: #f8f8f8; */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}

#orders h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 32px;
}

#orders h2 {
    margin-top: 25px;
    color: #0066cc;
    font-size: 30px;
    padding-bottom: 5px;
}

#orders p {
    margin: 8px 0;
    font-size: 16px;
    color: #000000;
    font-size: 1.2rem;
}
#order_card{
    border-bottom: 2px solid blue;
}
#formbl{
    width:100vw;
    height: 100vh;
    /* background-color: black; */
    color: #0066cc;
    display:none;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
#orders::-webkit-scrollbar{
    display: none;
}