* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
}

body {
    background: url(../includes/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list li:nth-child(2){
    text-decoration: underline;
   text-decoration-color: rgb(0, 140, 255);
}
main {
    margin-top: 12vh; 
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
    flex-grow: 1;
}

.ordercontainer {
    background-color: rgba(132, 119, 255, 0.712);
    padding: 3rem;
    border-radius: 10px;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border:5px solid black;
    font-size: 2rem;
}

.ordercontainer h1 ,h3{
    font-size: 3rem;
    color: black;
    margin-bottom: 1.5rem;
}

.ordercontainer p {
    font-size: 3rem;
    color: black;
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 1440px) {
    .nav-list {
        font-size: 1.8rem;
        gap: 3vw;
    }

    .ordercontainer h1 ,h3{
        font-size: 2.5rem;
    }

    .ordercontainer p {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .nav-list {
        font-size: 1.5rem;
        gap: 4vw;
    }

    header img {
        width: 120px;
    }

    .ordercontainer {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .ordercontainer h1 {
        font-size: 2rem;
    }
}
.card{
    border-bottom:1px solid rgb(0, 0, 0) ;
    margin-bottom: 2rem;
}

footer {
    width: 100vw;
    background-color: rgb(14, 9, 19);
    padding: 2rem;
    text-align: center;
    color: #fff;
}

footer p {
    font-size: 1.2rem;
}

